<div class="container">
    <h1>
      Welcome to {{title}}!!
    </h1>
    <form [formGroup]="bookInfoForm">
        <div class="row">
          <label class="col-sm-2">Title</label>
          <input type="text" class="form-control col-sm-3" formControlName="title" placeholder="Title">
        </div>
        <div class="row">
          <label class="col-sm-2">Author</label>
          <input type="text" class="form-control col-sm-3" formControlName="author" placeholder="Author">
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveBook()">Add</button>
      </form>
  </div>

